#top_left, #top_right, #top_middle,
#middle_left, #middle_middle, #middle_right,
#bottom_left, #bottom_middle, #bottom_right {
  width: 200px;
  height: 200px;
  margin: 2px 2px 0 0;
  font-size: 72px;
  color: white;
}

.ui.button:not(.icon)>.icon:not(.button):not(.dropdown), .ui.button:not(.icon)>.icons:not(.button):not(.dropdown) {
  margin: 0 0 0 0;
}

.game_ended {
  text-align: center;
}

.game_ended_won {
  background: rgb(115, 201, 115) !important;
}

.game_ended_lost {
  background: rgb(232, 141, 135) !important;
}
/* blocks darkening on first button, but also blocks hover
.ui.button:focus {
  background: #e0e1e2 !important;
  color: rgba(0,0,0,.6) !important;
}
*/

